.mapContainer {
    height: 100%;
    width: 100%;
    flex: 1;
    margin-bottom: 2rem;
}

.mapContainerSmall {
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
